//Animations: Desktop & Laptops
@media (hover: hover) {
    //Home
    .flip-box:hover {
            .flip-box-inner{
                transform: rotateY(560deg);
        
                img {
                    transition: all 2s ease-in-out;
                    filter: blur(0px) !important;
                }
            }
    } 

}  

//Breakpoints: Desktop & Laptop
@media screen and (max-width: 1200px) {

    //Home Content
    .home-content .left-home .flip-box-back .animate-charcter {
        font-size: 2.5rem;
    }
    .flip-box:hover {
        .flip-box-inner{
            transform: rotateY(180deg);
        }
    }
    .home-content .right-home {
        font-size: 1rem !important;
        gap: 3.5rem !important;
    }

}

//Animations & Breakpoints: mobile
@media screen and (max-width: 800px) {
    //Animations
    .switchAdkirf{
            .flip-box-inner{
                transform: rotateY(180deg);
    
                img {
                    transition: all 1s ease-in-out;
                    filter: blur(0px) !important;
                }
            }
    }
    .flip-box{
            transition: all 1s ease-in-out;
    }

  
    //Breakpoints
    .page-container{
        min-height: 70rem;
        padding: 1rem 1rem 1rem 1rem;
    }
    .home-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr)!important;


        .right-home {
            padding-right: 0rem;
            padding-top: 3rem;
        }

        .left-home {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 3;
            top: 0rem;
            left: 0rem;
            top: 10%;
            width: 100%;

            .h-shape {
                width: 100%!important
            }

            .flip-box {
                width: 100%!important;
                margin-left: 0rem;
            }

            .flip-box-front {
                border: none!important;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    display: none!important;
                }

                i {
                    font-size: 3rem;
                    align-items: center;
                    justify-content: center;
                    display: flex!important;
                }
            }

            .flip-box-back {
                display: flex;
                width: 100%!important;
                bottom: 300px;

                img {
                    height: 300px!important;
                }

            }
        }
    }
    

}


