---
layout: page
title: Landing Page
---
<div class="landingPage">
  <div class="home-content">
      <div class="left-home">
          <div class="h-shape"></div>
          <div class="flip-box">
              <div class="flip-box-inner">
                  <div class="flip-box-front">
                      <i class="fas fa-question"></i>
                      <img src="assets/imgs/questionmark.png">
                  </div>
                  <div class="flip-box-back">
                      <div class="col-md-12 text-center">
                          <h3 class="animate-charcter" id="fit-title"> Hi, I am <br/> <span>Adkirf</span></h3>
                      </div>
                      <img src="assets/imgs/pfp.png">  
                  </div>
              </div>
          </div>
      </div>
      <div class="right-home">
          <div class="quote">
              <div class="slide-in">
                  <p>
                      "There are <span>no problems. Only solutions</span> to be found." 
                  </p>
                  <div class="author">
                      Adkirf
                  </div>
              </div>
          </div>
          <div class="quote">
              <div class="slide-in">
                  <p>
                      "In the long run, <span>we shape our</span> lives, and we shape ourselves. The process never ends until we die. And the <span>choices</span> we make are ultimately our own responsibility."
                  </p>
                  <div class="author">
                      Eleanor Roosevelt
                  </div>
              </div>
          </div>
          <div class="quote">
              <div class="slide-in">
                  <p>
                      "An investment in <span>knowledge</span> always <span>pays</span> the <span>best</span> interest."
                  </p>
                  <div class="author">
                      Benjamin Franklin
                  </div>
              </div>
          </div>
          <div class="quote">
              <div class="slide-in">
                  <p>
                      "What we can accomplish <span>together is</span> more <span>powerful</span> than any one of us can do alone."
                  </p>
                  <div class="author">
                      Anon
                  </div>
              </div>
          </div>                
      </div>
  </div>
</div>
<script src="/assets/js/landingPage.js"></script>
